<!doctype html>
<html>
  <head>
    <script nonce='LHkHnVoKDfNINMT5iWQtpw'>
      function startTimer(seconds) {
        seconds = parseInt(seconds) || 3;
        setTimeout(function() { 
          window.confirm("Time is up!");
          window.history.back();
        }, seconds * 1000);
      }
    </script>
  </head>
  <body id="level4">
      <br>
      <img id='image' src="/static/loading.gif"  />
      <div>{{timer}}</div>
      <script nonce='tyVzu4RLVwqpsJ3Nw34dpA'>
      document.getElementById('image').onload = `${startTimer('{{ timer }}')}`;
      </script>
      <br>
    <div id="message">Your timer will execute in {{ timer }} seconds.</div>
  </body>
</html>