<!DOCTYPE html>
<html>
  <head>
  </head>

  <body id="level1">
      <div>
        <form action="" method="GET">
            <input id="query" name="query" value="Enter query here..."
                >
            <input id="button" type="submit" value="Search">
        </form>
        <script nonce='RiJpMcQWKQRLTKaMPjOajw'>document.getElementById('query').onfocus = function focus() { this.value=''}</script>
        </div>
        <h1>
          Sorry no results found for 
          <b>
            {{arg}}
          </b>
        </h1>
    </body>
</html>